In [7]:
import pandas as pd
import bearinmind_pipeline.results_blend as rb

In [8]:
df_1 = pd.read_csv("submit_lightgbm_by_site_3fold.csv.gz")
df_2 = pd.read_csv("submission_kernel_108.csv.gz")

In [9]:
df_1.head(10)

    row_id  meter_reading
0  2260080      53.237924
1  2260081       6.746853
2  2260083      58.665197
3  2260084     190.982299
4  2260085     191.165010
5  2260087     259.708853
6  2260088     316.558361
7  2260089     104.663917
8  2260091     288.490485
9  2260093     697.050011

In [10]:
df_2.head(10)

   row_id  meter_reading
0       0     187.596256
1       1      86.955625
2       2      15.626291
3       3     262.471907
4       4    1151.873919
5       5      23.143837
6       6     102.935628
7       7     429.086477
8       8     333.375052
9       9     338.301193

In [8]:
rb = rb.resultsBlender('./submit_lightgbm_by_site_3fold.csv.gz', './submission_kernel_108.csv.gz')

In [9]:
df_blend = rb.blend_results(_id = 'row_id', target = 'meter_reading', proport1 = 0.6)

the mean absolute difference between 2 submissions is: 92.73153527235691

In [10]:
df_blend.head()

    row_id  meter_reading
0  2260080      54.565126
1  2260081       4.703868
2  2260083      79.835641
3  2260084     199.224814
4  2260085     182.536785

In [11]:
df_blend.to_csv("submit_blend_lgbm_public_kernel_108.csv.gz", index = False, compression='gzip')

In [12]:
!kaggle competitions submit -c ashrae-energy-prediction -f submit_blend_lgbm_public_kernel_108.csv.gz -m "my LGBM 1.07 with public LGBM 1.08 defferent filters applied. 60/40 "

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /home/jovyan/.kaggle/kaggle.json'
100%|████████████████████████████████████████| 474M/474M [00:12<00:00, 40.0MB/s]
Successfully submitted to ASHRAE - Great Energy Predictor III