In [2]:
import pandas as pd
import bearinmind_pipeline.results_blend as rb

Using TensorFlow backend.
/opt/conda/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/opt/conda/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/opt/conda/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/opt/conda/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/opt/conda/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/opt/conda/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/opt/conda/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/opt/conda/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/opt/conda/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/opt/conda/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/opt/conda/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/opt/conda/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [3]:
df_1 = pd.read_csv("submit_lightgbm_by_site_3fold.csv.gz")
df_2 = pd.read_csv("submit_lightgbm_by_site_3fold_prophet_const.csv.gz")

In [6]:
df_1.head(10)

    row_id  meter_reading
0  2260080      52.887168
1  2260081       0.969900
2  2260083      54.263273
3  2260084     202.429453
4  2260085     198.617470
5  2260087     273.330528
6  2260088     337.939686
7  2260089       0.276119
8  2260091     315.067576
9  2260093     732.151928

In [7]:
df_2.head(10)

    row_id  meter_reading
0  2260080      35.573042
1  2260081       1.017914
2  2260083     188.534530
3  2260084     189.191109
4  2260085     185.731869
5  2260087     270.539423
6  2260088     327.132410
7  2260089      32.801204
8  2260091     301.033372
9  2260093     684.299617

In [3]:
rb = rb.resultsBlender('./submit_lightgbm_by_site_3fold.csv.gz', './submit_lightgbm_by_site_3fold_prophet_const.csv.gz')

In [4]:
df_blend = rb.blend_results(_id = 'row_id', target = 'meter_reading', proport1 = 0.7)

the mean absolute difference between 2 submissions is: 95.52744236937227

In [5]:
df_blend.head()

    row_id  meter_reading
0  2260080      47.692930
1  2260081       0.984304
2  2260083      94.544650
3  2260084     198.457950
4  2260085     194.751790

In [6]:
df_blend.to_csv("submit_blend_lgbm_prophet.csv.gz", index = False, compression='gzip')

In [7]:
!kaggle competitions submit -c ashrae-energy-prediction -f submit_blend_lgbm_prophet.csv.gz -m "blended 3 fold lgbm and const replaced by prophet 70/30"

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /home/jovyan/.kaggle/kaggle.json'
100%|████████████████████████████████████████| 475M/475M [00:11<00:00, 44.8MB/s]
Successfully submitted to ASHRAE - Great Energy Predictor III