In [1]:
import pandas as pd

In [28]:
sub_leak = pd.read_csv('./data/test.csv')

In [7]:
sub = pd.read_csv('submit_lightgbm_by_site_3fold.csv.gz')

In [50]:
site1 = pd.read_csv("./leak/site1.csv.gz")
site2 = pd.read_csv("./leak/site2.csv.gz")

In [29]:
site0 = pd.read_csv("./leak/site0.csv.gz")

In [36]:
site0.head()

   meter_reading
0       173.3703
1        53.5127
2         6.1430
3       101.7015
4      1141.2407

In [8]:
sub.head()

    row_id  meter_reading
0  2260080      53.237924
1  2260081       6.746853
2  2260083      58.665197
3  2260084     190.982299
4  2260085     191.165010

In [55]:
site1 = site1.merge(sub_leak, how = 'left', on = ['building_id', 'meter', 'timestamp'])

In [56]:
site1.columns = ['building_id','meter','timestamp','meter_reading','row_id']

In [51]:
site2 = site2.merge(sub_leak, how = 'left', on = ['building_id', 'meter', 'timestamp'])

In [60]:
site2.head()

             timestamp  building_id  meter  meter_reading   row_id
0  2017-01-01 00:00:00          156      0         104.96  3349161
1  2017-01-01 00:00:00          157      0          32.92  3349162
2  2017-01-01 00:00:00          158      0          10.97  3349163
3  2017-01-01 00:00:00          159      0           8.70  3349164
4  2017-01-01 00:00:00          160      0          10.08  3349165

In [61]:
site = pd.concat([site1, site2], ignore_index=True)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [68]:
site.head()

   building_id  meter  meter_reading   row_id            timestamp
0          105      0        21.5155  2260080  2017-01-01 00:00:00
1          105      0        44.6565  2260143  2017-01-01 01:00:00
2          105      0        44.5625  2260206  2017-01-01 02:00:00
3          105      0        45.6715  2260269  2017-01-01 03:00:00
4          105      0        45.2970  2260332  2017-01-01 04:00:00

In [65]:
ids = site['row_id']

In [66]:
sub = sub[~(sub['row_id'].isin(ids))]

In [70]:
submit = pd.concat([sub, site[['row_id', 'meter_reading']]], ignore_index=True)

In [73]:
submit.head()

    row_id  meter_reading
0  2260139       9.553086
1  2260202       9.301877
2  2260265       9.252179
3  2260328       9.369783
4  2260391       9.681404

In [72]:
submit.to_csv("submit_leak.csv.gz", index = False, compression='gzip')

In [76]:
submit.iloc[36634519]

row_id           3349359.0
meter_reading        303.7
Name: 36634519, dtype: float64

In [74]:
!kaggle competitions submit -c ashrae-energy-prediction -f submit_leak.csv.gz -m "my submit with leak, site1 and site2"

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /home/jovyan/.kaggle/kaggle.json'
100%|████████████████████████████████████████| 437M/437M [00:09<00:00, 47.1MB/s]
Successfully submitted to ASHRAE - Great Energy Predictor III